/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: white;
    font-family: sans-serif;
    min-height: 500px'';
}

/* Normal style */
.header {
    background-color: black;
}

.header_content {
    display: flex;
}

.logo {

}

.logo_img {
    height: 50px;
}

.nav {

}

.nav-list {

}

.nav_item {

}

.nav_link {
    color: silver;

}
.btn {
    color: silver;
}